﻿@using Ipoteca.Models
@model Ipoteca.Models.IndexVIewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 style="text-align: center;padding-top: 50px;">Введите значения </h1>

    <form asp-action="AnnuityPay" asp-controller="Home">
        <div style="margin-top: 100px; " class="d-flex flex-row  justify-content-center">

            <div style="align-items: center;">
                <label class="form-label ">Сумма кредита</label>
                <input type="text" asp-for="@Model.PayValues.Mortgage" name="mortgage" class="form-control" style="width: 140px;">
            </div>
            <div class="mb-3" style="padding-left: 30px;">
                <label class="form-label">Срок выплаты</label>
                <input asp-for="@Model.PayValues.TimeYear" name="timeYear" type="text" class="form-control" style="width: 140px;">
            </div>
            <div class="mb-3" style="padding-left: 30px;">
                <label class="form-label">Ставка</label>
                <input  asp-for="@Model.PayValues.Rate" name="rate" type="text" class="form-control" style="width: 140px;">
            </div>
            <div class="ms-3" style="padding-top: 30px;">
                <button type="submit" class="btn btn-success form-control">Рассчитать</button>
            </div>
        </div>
    </form>

    @if(Model != null)
    {
         <h3 style="text-align: center;">Ответ: </h3>
        <div  class="d-flex flex-column justify-content-center" style="padding-left:500px">
            <p class="ps-3">Первый платёж :@Model.ClassResult.FirstPay</p>
             <p class="ps-3">Минимальный платёж:@Model.ClassResult.MinimPay</p>
            <p class="ps-3">Переплата: @Model.ClassResult.Overpay</p>
            <p class="ps-3">Сумма без первого платежа:@Model.ClassResult.SumPays</p>
        </div>
        <form  asp-action="Report" asp-controller="Home" >
            <input value="@Model.PayValues.Mortgage" name="mortgage" type="hidden" ></input>
            <input value="@Model.PayValues.TimeYear" name="timeYear" type="hidden" ></input>
            <input value="@Model.PayValues.Rate" name="rate" type="hidden" ></input>
            <input value="@Model.ClassResult.FirstPay" name="firstPay" type="hidden" ></input>
            <input value="@Model.ClassResult.MinimPay" name="minimPay" type="hidden" ></input>
            <input value="@Model.ClassResult.Overpay" name="overpay" type="hidden" ></input>
            <input value="@Model.ClassResult.SumPays" name="sumPays" type="hidden" ></input>
            <div class="ms-3" style="padding-left: 550px;padding-top: 30px; ">
                <button style="width:100px" type="submit" class="btn btn-success form-control">Отчёт</button>
            </div>
        </form>
    }
   
</body>
</html>