﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="d-flex d justify-content-center" style="padding-top: 270px;">
        <button  type="button" class="btn btn-info" style="width: 180px; height: 60px;"><a  asp-controller="Home" asp-action="AnnuityPay" >Платёж Аннуитентный</a></button>
        <button type="button" class="btn btn-success" style="width: 200px; height: 60px;"> <a  asp-controller="Home" asp-action="DifferentPay" >Платёж Дифференцированный</a></button>
    </div>
   
