﻿@using Ipoteca.Models
@model Ipoteca.Models.IndexVIewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=Gentium+Plus&family=Merriweather:wght@400;900&family=PT+Serif&family=Source+Serif+4:opsz,wght@8..60,600&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        .text-famaly
        {
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Gentium Plus', serif;
        font-family: 'Merriweather', serif;
        font-family: 'PT Serif', serif;
        font-family: 'Source Serif 4', serif;        
        }
    </style>
     <div class="d-grid gap-2 d-md-flex justify-content-md-start">
       <a id="back" class="btn btn-dark mt-2 ms-2" href="@Url.Action("AnnuityPay")"> Назад</a>
    </div>

    <h1 class="text-famaly">Отчёт</h1>
    <h2 style="text-align:center; " class="text-famaly">Исходные данные:</h2>
    <div style="margin-top: 100px; " class="d-flex flex-column  justify-content-center text-famaly">

        <div class="ps-5">
            <label class="form-label">Сумма кредита:</label>
            <p>@Model.PayValues.Mortgage</p>
        </div>
        <div class="mb-3 ps-5">
            <label class="form-label">Срок выплаты:</label>
            <p>@Model.PayValues.TimeYear</p>
        </div>
        <div class="mb-3 ps-5">
            <label class="form-label">Ставка:</label>
            <p>@Model.PayValues.Rate</p>
        </div>
    </div>
    <h2 style="text-align:center;" class="text-famaly">Результат расчёта:</h2>
    <div  class="d-flex flex-column text-famaly">
        <p class="ps-5" >Первый платёж :</p>
        <p class="ps-5">@Model.ClassResult.FirstPay</p>
        <p  class="ps-5">Минимальный платёж:</p>
        <p class="ps-5">@Model.ClassResult.MinimPay</p>
        <p class="ps-5">Переплата</p>
        <p class="ps-5">@Model.ClassResult.Overpay</p>
        <p class="ps-5">Сумма без первого платежа:</p>
        <p class="ps-5">@Model.ClassResult.SumPays</p>

    </div>
        <script>
        document.getElementById("back").style.display = "none";
        window.print();
        setTimeout(() => { document.getElementById("back").style.display = "block" }, 2000);
    </script>
</body>
</html>
